@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700";

.centerpage {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

p,
a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: rgb(190, 190, 190);
}

.button {
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 38px;
  margin: 0.5em;
  width: 150px;
  text-align: center;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin-right: -7.5px;
}

.button:hover {
  color: rgb(190, 190, 190);
  background-color: rgba(255, 255, 255, 0.1);
}

.normal {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://keishispl.github.io/img/wallpaper/self_drawn.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-attachment: fixed;
  left: 0;
  top: 0;
  margin: 0;
}

.smolpadding {
  padding: 150px 0px 0px 0px;
}

input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: open sans;
  font-size: 16px;
  line-height: 1.5;
  color: #ababab;
  overscroll-behavior: none;
}

.box,
.smolbox,
#question {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  background-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  color: rgb(190, 190, 190);
  display: inline-block;
  margin: 0.5em;
  width: 100%;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  overflow-y: scroll;
}

.box {
  height: 200px;
  user-select: text;
}

.smolbox {
  height: 75px;
  user-select: text;
}

#question {
  height: 40px;
  line-height: 38px;
  padding-left: 10px;
}

#question:focus {
  outline: none;
}

.together {
  display: flex;
  justify-content: space-between;
}

#title {
  font-size: 50px;
  text-align: center;
}

#box {
  margin: 10px 10px 10px 10px;
}

#resultQuestion {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#recent,
#resultResult {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#sidebar {
  position: fixed;
  border-width: 0 0 0 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  transition: transform 0.2s;
  user-select: none;
  -moz-user-select: none;
  text-align: right;
  z-index: 5;
}

.menu-closed>#sidebar {
  transform: translateX(300px);
}

#btn2 {
  position: fixed;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #cecfd0;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  width: 50px;
  height: 50px;
  user-select: none;
  -moz-user-select: none;
  transition: right 0.2s;
  top: 10px;
  right: 10px;
}

#btn2:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.line {
  margin-top: -35px;
  margin-right: -5px;
}